

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 90%;
}
.left-text{
    padding: 10px;
}
.center-text{
    
    width: 400px;
}
.right-text{
    
    width: 200px;
}
.book-demo{
    border: none;
    color: aliceblue;
    background-color: black;
    padding: 10px;
}
.all-text{
    padding-left: 20px;
    width: 50%;
    padding-top: 30px;
    /* border: 2px solid blue; */

}
.all-text h1{
    font-size: 50px;
}
.color{
    background-color: rgb(188,252,137);
    width: 250px;
    height: 23px;
    margin-top: 30px;
}
.text-color{
    margin-top: -50px;
}
.text2{
    /* border: 1px solid gray; */
    width: fit-content;
    display: flex;
}
.input{
    padding: 5px;
    border: 2px solid black;
}



.text2 button{
    /* border: 2px solid gray; */
    background-color: black;
    color: white;
    padding: 5px;

}
.logo-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 80%;
}
.logo-div img{
    height: 35px;
    width: 60px;
}
.second-box{
    display: flex;
}
.img-section{
   width: 50%;
   /* border: 2px solid brown; */
}

.img-one img{
    height: 200px;
    width: 400px;
    padding-left: 20px;
    

}
.img-two img{
    height: 225px;
    width: 450px;
    padding-left: 20px;
    
}